<div class="col mat-elevation-z8">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
  </ngx-loading>

  <kendo-grid [data]="gridData" [filter]="state.filter" filterable="menu" [pageable]="true" [pageSize]="state.take"
    [skip]="state.skip" (pageChange)="paginarGrid($event)" [selectable]="selectableSettings"
    (cellClick)="cellClick($event)" [kendoGridSelectBy]="'id'" [selectedKeys]="mySelection"
    (dataStateChange)="dataStateChange($event)">
    <kendo-grid-checkbox-column *ngIf="gridData" width="2%"></kendo-grid-checkbox-column>
    <kendo-grid-column *ngFor="let grid of gridSchema; index as i" [field]="grid.field" [title]="grid.title"
      [width]="grid.width" [filterable]="grid.filterable" [hidden]="grid.hidden">
      <ng-template kendoGridCellTemplate let-dataItem *ngIf="grid.field === 'dthCadastro'">
        {{ dataItem.dthCadastro | date:'dd/MM/yyyy HH:mm:ss' }}
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem *ngIf="grid.field === 'flagAtivo'">
          {{ dataItem.flagAtivo && "Sim" || "Não" }}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-messages noRecords="Nenhum grupo encontrado.">
    </kendo-grid-messages>
  </kendo-grid>

</div>